/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 25, 2025, 8:07:48 PM
    Author     : fatim
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #F1F0F0;
  --secondary: #0B6D5C;
  --accent1: white;
  --accent2: black;
  --accent3: #FF914D;
  --box-shadow: #D6D6D6;
}

body {
    font-family: "Poppins";
    background-color: var(--secondary);
}

#form-container {
    align-items: center;
    margin: 30px;
}

form {
    background-color: var(--secondary);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: var(--accent3);
}

#submit-btn input {
    background-color: transparent;
    color: var(--accent3);
    padding: 7px 40px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-color: transparent;
}

#submit-btn {
    text-align: center;
}

#submit-btn input:hover {
    text-decoration: underline var(--accent3) solid 3px;
}