/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 23, 2025, 11:22:36 PM
    Author     : fatim
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #F1F0F0;
  --secondary: #0B6D5C;
  --accent1: white;
  --accent2: black;
  --accent3: #FF914D;
  --box-shadow: #D6D6D6;
}

body {
    font-family: "Poppins";
    background-color: var(--primary);
    align-content: center;
    color: var(--accent2);
}