<html>
    <head>
        <title>Asset Activity Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/dashboard-style.css">
    </head>
    <body>
        <div id="logout">
            <a id="logout-btn" href = "login.html"> Log out </a>
        </div>

        <div id="header">
            <h1>Asset Activity Management</h1>
        </div>
        
        <div id="content-container">
            <div id="asset-menu">
                <div class="title-name">Asset Menu</div>
                <a href = "newAsset.html"> Register Asset </a> <br>
                <a href = "updateAsset.html"> Update Asset Information </a> <br>
                <a href = "deleteAsset.html"> Deleting a wrongly encoded Asset </a> <br>
            </div>
        </div>
    </body>
</html>