<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Delete Wrongly Encoded Asset</title>
        <link rel="stylesheet" href="../public/css/menu-style.css">
    </head>
    <body>
        <div id="back">
            <a id="back-btn" href = "dashboard.html"> Back </a>
        </div>

        <div id="form-container">
            <form action = " ">

                <jsp:useBean id = "A" class = "assetmanagement.assets" scope = "session"/>
                <div id="header">
                    <h2>Delete an Wrongly Encoded Asset</h2>
                </div>

                <div class="input-lbl">
                    Asset: 
                </div>
                    <select class="input-field" id = "asset_id" name = "asset_id">
                        
                        <option value = "--none--">--N/A--</option>
                        
                    </select><br>
                <div id="submit-btn">       
                    <input type = "submit" value = "Delete Asset">
                </div>    
            </form>
        </div>            
    </body>
</html>