<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | Asset Activity Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/login-style.css">
        <script defer src="../public/js/script.js"></script>
    </head>
    <body>
        <div id="form-container">
            <form action="/login" method="POST">
                <div id="header">
                    <h2>Welcome back!</h2>
                </div>
                
                <div class="input-label">
                    <label for="email">Email</label>
                </div>
                
                <div class="txt_area">
                    <input type="text" id="email" placeholder="Enter email" name="email" required>
                </div>
                
                <div class="input-label">
                    <label for="password">Password</label>
                </div>
                
                <div class="txt_area">
                    <input type="password" id="password" placeholder="Enter password" name="password" required>
                </div>
                
                <input id="login-btn" type="submit" formaction="dashboard.html" value="Log in">
                <br>
            </form>
            
            <div id="space">
                
            </div>

            <div id="register-section">
                <p>No Account?</p>
                <a href="/register" id="register-link">Register</a>
            </div>
        </div>
    </body>
</html>
