<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/register-style.css">
        <script defer src="public/js/script.js"></script>
        <title>Register | Asset Activity Management</title>
    </head>
    <body>
        <div id="form-container">
            <form id="registration_form" action="/register" method="POST" enctype="multipart/form-data">
                <div id="header">
                    <h2>Create an Account</h2>
                </div>

                <div class="profpic-field">
                    <label class="input-label" id="profpic_lbl" for="profile_picture">Upload Profile Picture</label><br>
                    <input type="file" class="txt_area" id="profile_picture" name="profile_picture" accept="image/*" required>
                </div>
                
                <div class="fname-field">
                    <label class="input-label" id="fname_lbl" for="fname">Full Name</label><br>
                    <input type="text" class="txt_area" id="fname" placeholder="Enter full name" name="full_name" required>
                </div>
                
                <div class="phone-field">
                    <label class="input-label" id="phone_lbl" for="phone">Phone Number</label><br>
                    <input type="text" class="txt_area" id="phone" placeholder="Enter phone number" name="phone_number" required>
                </div>
                
                <div class="email-field">
                    <label class="input-label" id="email_lbl" for="email">Email</label><br>
                    <input type="email" class="txt_area" id="email" placeholder="Enter email" name="email" required>
                </div>
                
                <div class="pword-field">
                    <label class="input-label" id="pword_lbl" for="password">Password</label><br>
                    <input type="password" class="txt_area" id="password" placeholder="Enter password" name="password" required>
                </div>

                <p id="reg-btn">
                <input id="register-btn" type = "submit" formaction="/register" value = "Create account">
                </p>
                <br>
                <p> 
                    Already have an account? <a id="login-btn" href = "/login"> Log in </a>
                </p>
            </form>
        </div>
    </body>
</html>