@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #F1F0F0;
  --secondary: #0B6D5C;
  --accent1: white;
  --accent2: black;
  --accent3: #FF914D;
  --box-shadow: #D6D6D6;
}

body {
    font-family: "Poppins";
    background-color: var(--primary);
    color: var(--text-color);
}

#header {
    background-color: var(--primary);
    color: var(--accent2); 
    padding-left: 20px;
    margin: 0px;
    text-align: center;
}

#logout-btn {
    font-size: 12px;
    color: var(--accent2);
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
}

#content-container {
    display: flex;
    justify-content: center;
}

#asset-menu {
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 15px 20px 20px;
    box-shadow: 0 6px 20px 0 var(--box-shadow);
    width: 30%;
}


.title-name {
    font-weight: 700;
    font-size: 25px;
    color: var(--accent3);
    margin-bottom: 10px;
}

#asset-menu a {
    color: var(--accent1);
    text-decoration: none;
    font-weight: 300;
}

#asset-menu a:hover {
    color: var(--accent3)
}

#logout-btn:hover {
    color: var(--accent3);
}