<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Update Asset Information</title>
        <link rel="stylesheet" href="../public/css/menu-style.css">
    </head>
    <body>
        <div id="back">
            <a id="back-btn" href = "dashboard.html"> Back </a>
        </div>

        <div id="form-container">
            <form action = " ">

                <jsp:useBean id = "A" class = "assetmanagement.assets" scope = "session"/>
                <div id="header">
                    <h2>Update an Asset Information</h2>
                </div>

                <div class="input-lbl">
                    Asset: 
                </div>    
                    <select class="input-field" id = "asset_id" name = "asset_id">
                        <option value = "--none--">--N/A--</option>
                    </select><br>

                <div class="input-lbl">
                    Asset Name:         <input type = "text" class="input-field" id = "asset_name" name = "asset_name"><br>
                </div>
                <div class="input-lbl">    
                    Asset Description:  <input type = "text" class="input-field" id = "asset_description" name = "asset_description"><br>
                </div>
                <div class="input-lbl">    
                    Acquisition Date (YYYY-MM-DD):   <input type = "text" class="input-field" id = "acquisition_date" name = "acquisition_date"><br>
                </div>
                <div class="input-lbl">
                    <label for="forrent">For Rent: </label>          <br>
                    <select class="input-field" id = "forrent" name = "forrent" required>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="input-lbl">    
                    Asset Value:        <input type = "double" class="input-field" id = "asset_value" name = "asset_value"><br>
                </div>
                <div class="input-lbl">
                    <label for="type_asset">Asset Type: </label>        <br>
                    <select class="input-field" id = "type_asset" name = "type_asset" required>
                        <option value="F">Furniture & Fixtures</option>
                        <option value="E">Equipment</option>
                        <option value="P">Property</option>
                        <option value="O">Others</option>
                    </select>
                </div>

                <div class="input-lbl">
                    <label for="status">Status: </label>            <br>
                    <select class="input-field" id = "status" name = "status" required>
                        <option value="W">Working</option>
                        <option value="D">Deteriorated</option>
                        <option value="P">For Repair</option>
                        <option value="S">For Disposal</option>
                        <option value="X">Disposed</option>
                    </select>
                </div>
                <div class="input-lbl">    
                    Location Latitude:  <input type = "double" class="input-field" id = "loc_lattitude" name = "loc_lattitude"><br>
                </div>
                <div class="input-lbl">    
                    Location Longitude: <input type = "double" class="input-field" id = "loc_longiture" name = "loc_longiture"><br>
                </div>
                <div class="input-lbl">    
                    HOA Name:           <input type = "text" class="input-field" id = "hoa_name" name = "hoa_name"><br>
                </div>
                <div class="input-lbl">    
                    Enclosing Asset:    <input type = "Integer" class="input-field" id = "enclosing_asset" name = "enclosing_asset"><br>
                </div>
                <div id="submit-btn">
                    <input type = "submit" value = "Update">
                </div>
            </form>
        </div>
    </body>
</html>