/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 23, 2025, 7:30:51 PM
    Author     : fatim
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #F5FFFA;
  --secondary: #002E27;
  --accent: #02B14F;
}

body {
    font-family: "Montserrat";
    background-color: var(--primary);
    color: var(--secondary);
}

div {
    font-weight: 700;
}

a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    color: var(--accent)
}
